.journal-flex-container {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 80%;
	height: 450px;
	position: relative;
	top: 10px;
	left: 10%;
	
  }
  
  .create-journal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-content: space-evenly;
	width: 260px;
	height: 260px;
	border: 1px solid #333333;
	border-radius: 7px;
	transition: all 0.5s;
  }
  
  .create-journal-title{
	color: #333333;
	font-family: Acumin Pro;
	font-size: 18px;
  }
  
  .create-journal-button{
	position: relative;
	background-color: #333333;
	border: 1px solid #333333;
	width: 50px;
	height: 50px;
	border-radius: 300px;
	color: white;
	left: 40%;
  }
  
  .create-journal:hover {
	background-color: #BBD8E5;
  }
